html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-title {
    background-color: lightslategray;
    color: white;
    margin: 0;
    padding: 10px;
    border-bottom: 3px solid blue;
}

.one {
    width: 100px;
    height: 100px;
    background-color: #fef9e6;
    border-width: 4px 9px 14px 4px;
    border-style: solid;
    border-color: #453a36;
    position: relative;
    left: 600px;
    top: 100px;
}

.two {
    width: 100px;
    height: 150px;
    background-color: #fef9e6;
    border-top: 4px;
    border-right: 9px;
    border-bottom: 6px;
    border-left: 4px;
    border-style: solid;
    border-color: #453a36;
    position: relative;
    left: 600px;
    top: 100px;
}

.three {
    width: 100px;
    height: 100px;
    background-color: #409cc5;
    border-top: none;
    border-right: 9px;
    border-bottom: 5px;
    border-left: 4px;
    border-style: solid;
    border-color: #453a36;
    position: relative;
    left: 600px;
    top: 100px;
}

.four {
    width: 269px;
    height: 269px;
    background-color: #ec4938;
    border-width: 4px 4px 8px 0px;
    border-style: solid;
    border-color: #453a36;
    position: absolute;
    left: 713px;
    top: 158px;
}

.five {
    width: 248px;
    height: 100px;
    background-color: #fef9e6;
    border-top: none;
    border-right: 6px;
    border-bottom: 5px;
    border-left: 4px;
    border-style: solid;
    border-color: #453a36;
    position: absolute;
    left: 710px;
    top: 436px;
}

.six {
    width: 10px;
    height: 40px;
    background-color: #fef9e6;
    border-width: 0 4px 18px 4px;
    border-style: solid;
    border-color: #453a36;
    position: absolute;
    left: 968px;
    top: 439px;
}

.seven {
    width: 10px;
    height: 40px;
    background-color: #ffff00;
    border-width: 18px 4px 3px 4px;
    border-style: solid;
    border-color: #453a36;
    position: absolute;
    left: 968px;
    top: 483px;
}